{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1 class="mb-5">Ilhas Cabo Verde</h1>
    <div class="select-box">
        <form class="d-flex flex-wrap">
            <div class="mb-3 me-3">
                <label for="ilha" class="form-label">Selecione uma Ilha</label>
                <select class="form-select selectpicker" id="ilha" name="ilha" onchange="fetchConselhos(); generateImage(); showDescription();" data-live-search="true">
                    <option value="" disabled selected>Selecione uma Ilha</option>
                    {% for ilha in ilhas %}
                        <option value="{{ ilha.id }}">{{ ilha.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3 me-3" id="conselhos-container" style="display: none;">
                <label for="conselho" class="form-label">Selecione um Conselho</label>
                <select class="form-select selectpicker" id="conselho" name="conselho" onchange="fetchFreguesias()" data-live-search="true">
                    <option value="" disabled selected>Selecione um Conselho</option>
                    <!-- Conselhos will be populated here -->
                </select>
            </div>
            <div class="mb-3 me-3" id="freguesias-container" style="display: none;">
                <label for="freguesia" class="form-label">Selecione uma Freguesia</label>
                <select class="form-select selectpicker" id="freguesia" name="freguesia" onchange="fetchZonas()" data-live-search="true">
                    <option value="" disabled selected>Selecione uma Freguesia</option>
                    <!-- Freguesias will be populated here -->
                </select>
            </div>
            <div class="mb-3 me-3" id="zonas-container" style="display: none;">
                <label for="zona" class="form-label">Selecione uma Zona</label>
                <select class="form-select selectpicker" id="zona" name="zona" onchange="fetchLugares()" data-live-search="true">
                    <option value="" disabled selected>Selecione uma Zona</option>
                    <!-- Zonas will be populated here -->
                </select>
            </div>
            <div class="mb-3 me-3" id="lugares-container" style="display: none;">
                <label for="lugar" class="form-label">Selecione um Lugar</label>
                <select class="form-select selectpicker" id="lugar" name="lugar" data-live-search="true">
                    <option value="" disabled selected>Selecione um Lugar</option>
                    <!-- Lugares will be populated here -->
                </select>
            </div>
        </form>
    </div>
    </div>
    <div class="description-box" id="description-box" style="display: none;">
        <p id="description-content" style="font-family: Roboto, font-size: 20px, font-weight : bold" ></p>
    </div>
    <div class="additional-box" id="additional-box" style="display: none;">
        <p id="additional-content">Feito por Marcos Gomes</p>
    </div>

    <script>
        async function fetchConselhos() {
            document.getElementById('freguesias-container').style.display = 'none';
            document.getElementById('zonas-container').style.display = 'none';
            document.getElementById('lugares-container').style.display = 'none';
            const ilhaId = document.getElementById('ilha').value;
            if (!ilhaId) {
                document.getElementById('conselhos-container').style.display = 'none';
                return;
            }
            
            try {
                const response = await fetch('/conselhos', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ ilha_id: ilhaId })
                });

                if (response.ok) {
                    const conselhos = await response.json();
                    const conselhoSelect = document.getElementById('conselho');
                    conselhoSelect.innerHTML = '<option value="" disabled selected>Selecione um Conselho</option>';
                    conselhos.forEach(conselho => {
                        const option = document.createElement('option');
                        option.value = conselho.id;
                        option.textContent = conselho.nome;
                        conselhoSelect.appendChild(option);
                    });
                    document.getElementById('conselhos-container').style.display = 'block';
                    $('.selectpicker').selectpicker('refresh');

                } else {
                    console.error('Erro ao buscar conselhos');
                }
            } catch (error) {
                console.error('Erro ao buscar conselhos:', error);
            }
        }

        async function fetchFreguesias() {
            const conselhoId = document.getElementById('conselho').value;
            if (!conselhoId) {
                document.getElementById('freguesias-container').style.display = 'none';
                return;
            }

            try {
                const response = await fetch('/freguesias', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ conselho_id: conselhoId })
                });

                if (response.ok) {
                    const freguesias = await response.json();
                    const freguesiaSelect = document.getElementById('freguesia');
                    freguesiaSelect.innerHTML = '<option value="" disabled selected>Selecione uma Freguesia</option>';
                    freguesias.forEach(freguesia => {
                        const option = document.createElement('option');
                        option.value = freguesia.id;
                        option.textContent = freguesia.nome;
                        freguesiaSelect.appendChild(option);
                    });
                    document.getElementById('freguesias-container').style.display = 'block';
                    $('.selectpicker').selectpicker('refresh');

                    document.getElementById('zonas-container').style.display = 'none';
                    document.getElementById('lugares-container').style.display = 'none';
                } else {
                    console.error('Erro ao buscar freguesias');
                }
            } catch (error) {
                console.error('Erro ao buscar freguesias:', error);
            }
        }

        async function fetchZonas() {
            const freguesiaId = document.getElementById('freguesia').value;
            if (!freguesiaId) {
                document.getElementById('zonas-container').style.display = 'none';
                return;
            }

            try {
                const response = await fetch('/zonas', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ freguesia_id: freguesiaId })
                });

                if (response.ok) {
                    const zonas = await response.json();
                    const zonaSelect = document.getElementById('zona');
                    zonaSelect.innerHTML = '<option value="" disabled selected>Selecione uma Zona</option>';
                    zonas.forEach(zona => {
                        const option = document.createElement('option');
                        option.value = zona.id;
                        option.textContent = zona.nome;
                        zonaSelect.appendChild(option);
                    });
                    document.getElementById('zonas-container').style.display = 'block';
                    $('.selectpicker').selectpicker('refresh');
                    document.getElementById('lugares-container').style.display = 'none';
                } else {
                    console.error('Erro ao buscar zonas');
                }
            } catch (error) {
                console.error('Erro ao buscar zonas:', error);
            }
        }

        async function fetchLugares() {
            const zonaId = document.getElementById('zona').value;
            if (!zonaId) {
                document.getElementById('lugares-container').style.display = 'none';
                return;
            }

            try {
                const response = await fetch('/lugares', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ zona_id: zonaId })
                });

                if (response.ok) {
                    const lugares = await response.json();
                    const lugarSelect = document.getElementById('lugar');
                    lugarSelect.innerHTML = '<option value="" disabled selected>Selecione um Lugar</option>';
                    lugares.forEach(lugar => {
                        const option = document.createElement('option');
                        option.value = lugar.id;
                        option.textContent = lugar.nome;
                        lugarSelect.appendChild(option);
                    });
                    document.getElementById('lugares-container').style.display = 'block';
                    $('.selectpicker').selectpicker('refresh');
                } else {
                    console.error('Erro ao buscar lugares');
                }
            } catch (error) {
                console.error('Erro ao buscar lugares:', error);
            }
        }

        function showDescription() {
            const ilhaId = document.getElementById('ilha').value;
            const descriptions = {
                1: "Santo Antão, a segunda maior ilha de Cabo Verde, é um paraíso para os amantes da natureza e das aventuras ao ar livre.\nConhecida por suas paisagens montanhosas dramáticas, vales verdejantes e trilhas espetaculares, a ilha é um dos destinos mais fascinantes do arquipélago, ideal para quem busca explorar cenários de tirar o fôlego.",
                2: "São Vicente é uma das ilhas mais vibrantes e culturais do arquipélago de Cabo Verde, localizada no Oceano Atlântico.\nConhecida como a ilha da música, São Vicente se destaca por sua rica herança cultural, influenciada por tradições africanas, portuguesas e caribenhas.\nA capital da ilha, Mindelo, é considerada o coração cultural do país, famosa por suas coloridas festividades, como o Carnaval e o Festival da Baía das Gatas, além de sua animada vida noturna.",
                3: "São Nicolau é uma das ilhas mais encantadoras e autênticas de Cabo Verde, situada no grupo de ilhas do Barlavento.\nConhecida por suas paisagens montanhosas impressionantes, vales férteis e uma atmosfera tranquila, é o destino ideal para quem busca um refúgio longe do agito.\nA ilha é famosa por sua beleza natural, destacando-se o Monte Gordo, um parque natural com uma rica biodiversidade e trilhas perfeitas para caminhadas e ecoturismo.",
                4: "A ilha do Sal, parte do arquipélago de Cabo Verde, é um verdadeiro paraíso para os amantes do sol, praia e esportes aquáticos.\nConhecida por suas paisagens desérticas, praias de areia dourada e águas cristalinas de um azul turquesa hipnotizante, o Sal é uma das ilhas mais visitadas do país, atraindo turistas de todo o mundo.",
                5: "A ilha da Boa Vista, uma das mais deslumbrantes de Cabo Verde, é conhecida por suas paisagens paradisíacas e intocadas.\nParte do grupo de ilhas do Barlavento, Boa Vista é um destino perfeito para quem busca tranquilidade, praias extensas e uma conexão genuína com a natureza.\nSuas areias douradas e águas cristalinas a tornam um dos locais mais encantadores do arquipélago, ideal para relaxar e contemplar a beleza do Atlântico.",
                6: "A ilha do Maio, parte do grupo de ilhas do Sotavento em Cabo Verde, é um verdadeiro tesouro escondido, ideal para quem busca paz, autenticidade e natureza intocada.\nConhecida por suas extensas praias de areia branca, paisagens tranquilas e atmosfera acolhedora, Maio oferece um ritmo de vida sereno, perfeito para uma fuga relaxante.",
                7: "Santiago, a maior e mais populosa ilha de Cabo Verde, é o coração histórico, cultural e econômico do arquipélago.\nConhecida como o berço da nação cabo-verdiana, Santiago oferece uma rica combinação de paisagens naturais deslumbrantes, herança cultural vibrante e história marcante.\nA capital do país, Praia, está localizada em Santiago e é uma cidade dinâmica que combina o moderno com o tradicional. ",
                8 : "A ilha do Fogo, uma das mais icônicas de Cabo Verde, é um destino fascinante e singular, conhecido por sua paisagem vulcânica dramática e seu espírito autêntico.\nDominada pelo majestoso Pico do Fogo, um vulcão ativo com 2.829 metros de altitude, é o ponto mais alto do arquipélago e oferece vistas impressionantes e uma experiência inesquecível para os amantes de aventura.",
                9: "A ilha Brava, a menor e mais charmosa de Cabo Verde, é conhecida como a Ilha das Flores devido à abundância de vegetação e flores coloridas que adornam sua paisagem.\nLocalizada no extremo sudoeste do arquipélago, Brava é um refúgio de tranquilidade e beleza natural, perfeita para quem busca paz, autenticidade e um contato íntimo com a natureza.",
            };

            if (descriptions[ilhaId]) {
                document.getElementById('description-content').innerText = descriptions[ilhaId];
                document.getElementById('description-box').style.display = 'block';
                document.getElementById('additional-box').style.display = 'block';
            } else {
                document.getElementById('description-box').style.display = 'none';
                document.getElementById('additional-box').style.display = 'none';
            }
        }

        function generateImage() {
            const ilhaId = document.getElementById('ilha').value;
            const imageUrl = ilhaId ? `/static/${ilhaId}.jpg` : '/static/CaboVerde.jpg';
            document.body.style.backgroundImage = `url(${imageUrl})`;
            document.body.style.backgroundSize = 'cover';
            document.body.className = ilhaId ? 'island' : 'cabo-verde';
        }

        // Set initial background image
        document.addEventListener('DOMContentLoaded', function() {
            generateImage();
            $('.selectpicker').selectpicker();
        });
    </script>
{% endblock %}