{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1 class="mb-5">Ilhas Cabo Verde</h1>
    <div class="select-box">
        <form class="d-flex flex-wrap">
            <div class="mb-3 me-3">
                <label for="ilha" class="form-label">Selecione uma Ilha</label>
                <select class="form-select selectpicker" id="ilha" name="ilha" onchange="fetchConselhos(); generateImage();" data-live-search="true">
                    <option value="" disabled selected>Selecione uma Ilha</option>
                    {% for ilha in ilhas %}
                        <option value="{{ ilha.id }}">{{ ilha.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3 me-3" id="conselhos-container" style="display: none;">
                <label for="conselho" class="form-label">Selecione um Conselho</label>
                <select class="form-select selectpicker" id="conselho" name="conselho" onchange="fetchFreguesias()" data-live-search="true">
                    <option value="" disabled selected>Selecione um Conselho</option>
                    <!-- Conselhos will be populated here -->
                </select>
            </div>
            <div class="mb-3 me-3" id="freguesias-container" style="display: none;">
                <label for="freguesia" class="form-label">Selecione uma Freguesia</label>
                <select class="form-select selectpicker" id="freguesia" name="freguesia" onchange="fetchZonas()" data-live-search="true">
                    <option value="" disabled selected>Selecione uma Freguesia</option>
                    <!-- Freguesias will be populated here -->
                </select>
            </div>
            <div class="mb-3 me-3" id="zonas-container" style="display: none;">
                <label for="zona" class="form-label">Selecione uma Zona</label>
                <select class="form-select selectpicker" id="zona" name="zona" onchange="fetchLugares()" data-live-search="true">
                    <option value="" disabled selected>Selecione uma Zona</option>
                    <!-- Zonas will be populated here -->
                </select>
            </div>
            <div class="mb-3 me-3" id="lugares-container" style="display: none;">
                <label for="lugar" class="form-label">Selecione um Lugar</label>
                <select class="form-select selectpicker" id="lugar" name="lugar" data-live-search="true">
                    <option value="" disabled selected>Selecione um Lugar</option>
                    <!-- Lugares will be populated here -->
                </select>
            </div>
        </form>
    </div>

    <script>
        async function fetchConselhos() {
            document.getElementById('freguesias-container').style.display = 'none';
            document.getElementById('zonas-container').style.display = 'none';
            document.getElementById('lugares-container').style.display = 'none';
            const ilhaId = document.getElementById('ilha').value;
            if (!ilhaId) {
                document.getElementById('conselhos-container').style.display = 'none';
                return;
            }
            
            try {
                const response = await fetch('/conselhos', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ ilha_id: ilhaId })
                });

                if (response.ok) {
                    const conselhos = await response.json();
                    const conselhoSelect = document.getElementById('conselho');
                    conselhoSelect.innerHTML = '<option value="" disabled selected>Selecione um Conselho</option>';
                    conselhos.forEach(conselho => {
                        const option = document.createElement('option');
                        option.value = conselho.id;
                        option.textContent = conselho.nome;
                        conselhoSelect.appendChild(option);
                    });
                    document.getElementById('conselhos-container').style.display = 'block';
                    $('.selectpicker').selectpicker('refresh');

                    document.getElementById('conselhos-container').style.display = 'none';
                    document.getElementById('freguesias-container').style.display = 'none';
                    document.getElementById('zonas-container').style.display = 'none';
                    document.getElementById('lugares-container').style.display = 'none';

                } else {
                    console.error('Erro ao buscar conselhos');
                }
            } catch (error) {
                console.error('Erro ao buscar conselhos:', error);
            }
        }

        async function fetchFreguesias() {
            const conselhoId = document.getElementById('conselho').value;
            if (!conselhoId) {
                document.getElementById('freguesias-container').style.display = 'none';
                return;
            }

            try {
                const response = await fetch('/freguesias', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ conselho_id: conselhoId })
                });

                if (response.ok) {
                    const freguesias = await response.json();
                    const freguesiaSelect = document.getElementById('freguesia');
                    freguesiaSelect.innerHTML = '<option value="" disabled selected>Selecione uma Freguesia</option>';
                    freguesias.forEach(freguesia => {
                        const option = document.createElement('option');
                        option.value = freguesia.id;
                        option.textContent = freguesia.nome;
                        freguesiaSelect.appendChild(option);
                    });
                    document.getElementById('freguesias-container').style.display = 'block';
                    $('.selectpicker').selectpicker('refresh');

                    document.getElementById('zonas-container').style.display = 'none';
                    document.getElementById('lugares-container').style.display = 'none';
                } else {
                    console.error('Erro ao buscar freguesias');
                }
            } catch (error) {
                console.error('Erro ao buscar freguesias:', error);
            }
        }

        async function fetchZonas() {
            const freguesiaId = document.getElementById('freguesia').value;
            if (!freguesiaId) {
                document.getElementById('zonas-container').style.display = 'none';
                return;
            }

            try {
                const response = await fetch('/zonas', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ freguesia_id: freguesiaId })
                });

                if (response.ok) {
                    const zonas = await response.json();
                    const zonaSelect = document.getElementById('zona');
                    zonaSelect.innerHTML = '<option value="" disabled selected>Selecione uma Zona</option>';
                    zonas.forEach(zona => {
                        const option = document.createElement('option');
                        option.value = zona.id;
                        option.textContent = zona.nome;
                        zonaSelect.appendChild(option);
                    });
                    document.getElementById('zonas-container').style.display = 'block';
                    $('.selectpicker').selectpicker('refresh');
                    document.getElementById('lugares-container').style.display = 'none';
                } else {
                    console.error('Erro ao buscar zonas');
                }
            } catch (error) {
                console.error('Erro ao buscar zonas:', error);
            }
        }

        async function fetchLugares() {
            const zonaId = document.getElementById('zona').value;
            if (!zonaId) {
                document.getElementById('lugares-container').style.display = 'none';
                return;
            }

            document.getElementById('lugares-container').style.display = 'none';

            try {
                const response = await fetch('/lugares', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ zona_id: zonaId })
                });

                if (response.ok) {
                    const lugares = await response.json();
                    const lugarSelect = document.getElementById('lugar');
                    lugarSelect.innerHTML = '<option value="" disabled selected>Selecione um Lugar</option>';
                    lugares.forEach(lugar => {
                        const option = document.createElement('option');
                        option.value = lugar.id;
                        option.textContent = lugar.nome;
                        lugarSelect.appendChild(option);
                    });
                    document.getElementById('lugares-container').style.display = 'block';
                    $('.selectpicker').selectpicker('refresh');
                } else {
                    console.error('Erro ao buscar lugares');
                }
            } catch (error) {
                console.error('Erro ao buscar lugares:', error);
            }
        }

        function generateImage() {
            const ilha = document.getElementById('ilha').value;
            const imageUrl = ilha ? `/static/${ilha}.jpg` : '/static/CaboVerde.jpg';
            document.body.style.backgroundImage = `url(${imageUrl})`;
            document.body.className = ilha ? 'island' : 'cabo-verde';
        }

        // Set initial background image
        document.addEventListener('DOMContentLoaded', function() {
            generateImage();
            $('.selectpicker').selectpicker();
        });
    </script>
{% endblock %}