{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1 class="mb-5">Ilhas Cabo Verde</h1>
    <div class="select-box position-relative">
        <form class="d-flex flex-wrap align-items-center">
            <div class="mb-3 me-3">
                <label for="ilha" class="form-label">Selecione uma Ilha</label>
                <select class="form-select selectpicker" id="ilha" name="ilha" onchange="fetchConselhos(); generateImage(); showDescription(); updateModalTitle();" data-live-search="true">
                    <option value="" disabled selected>Selecione uma Ilha</option>
                    {% for ilha in ilhas %}
                        <option value="{{ ilha.id }}" data-nome="{{ ilha.nome }}">{{ ilha.nome }}</option>
                    {% endfor %}
                </select>
                <button type="button" class="btn btn-primary" id="infoButton" data-bs-toggle="modal" data-bs-target="#ilhaModal" style="display: none;">
                    Opções
                </button>
            </div>
            <div class="mb-3 me-3" id="conselhos-container" style="display: none;">
                <label for="conselho" class="form-label">Selecione um Conselho</label>
                <select class="form-select selectpicker" id="conselho" name="conselho" onchange="fetchFreguesias(); updateConselhoModalTitle();" data-live-search="true">
                    <option value="" disabled selected>Selecione um Conselho</option>
                    <!-- Conselhos will be populated here -->
                </select>
                <button type="button" class="btn btn-primary" id="conselhoInfoButton" data-bs-toggle="modal" data-bs-target="#conselhoModal" style="display: none;">
                    Opções
                </button>
            </div>
            <div class="mb-3 me-3" id="freguesias-container" style="display: none;">
                <label for="freguesia" class="form-label">Selecione uma Freguesia</label>
                <select class="form-select selectpicker" id="freguesia" name="freguesia" onchange="fetchZonas(); updateFreguesiaModalTitle();" data-live-search="true">
                    <option value="" disabled selected>Selecione uma Freguesia</option>
                    <!-- Freguesias will be populated here -->
                </select>
                <button type="button" class="btn btn-primary" id="freguesiaInfoButton" data-bs-toggle="modal" data-bs-target="#freguesiaModal" style="display: none;">
                    Opções
                </button>
            </div>
            <div class="mb-3 me-3" id="zonas-container" style="display: none;">
                <label for="zona" class="form-label">Selecione uma Zona</label>
                <select class="form-select selectpicker" id="zona" name="zona" onchange="fetchLugares(); updateZonaModalTitle();" data-live-search="true">
                    <option value="" disabled selected>Selecione uma Zona</option>
                    <!-- Zonas will be populated here -->
                </select>
                <button type="button" class="btn btn-primary" id="zonaInfoButton" data-bs-toggle="modal" data-bs-target="#zonaModal" style="display: none;">
                    Opções
                </button>
            </div>
            <div class="mb-3 me-3" id="lugares-container" style="display: none;">
                <label for="lugar" class="form-label">Selecione um Lugar</label>
                <select class="form-select selectpicker" id="lugar" name="lugar" data-live-search="true" onchange="updateLugarModalTitle()">
                    <option value="" disabled selected>Selecione um Lugar</option>
                    <!-- Lugares will be populated here -->
                </select>
                <button type="button" class="btn btn-primary" id="lugarInfoButton" data-bs-toggle="modal" data-bs-target="#lugarModal" style="display: none;">
                    Opções
                </button>
            </div>
            <div id="ilha-image-container" class="ms-auto">
                <img src="/static/Ilhas.png" alt="Ilhas Cabo Verde" id="ilha-image">
            </div>
        </form>
    </div>
    <div class="description-box" id="description-box" style="max-height: 70vh; overflow-y: auto; display: none;">
        <div class="row">
            <div class="col-md-8">
                <div id="description-content" class="text-justify font-weight-bold" style="font-family: 'Roboto', sans-serif; font-size: 1.5rem; line-height: 1.8;"></div>
            </div>
            <div class="col-md-4">
                <!-- Placeholder for YouTube iframe video -->
                <div id="video-placeholder" style="display: none;">
                    <iframe id="video-iframe" width="100%" height="315" src="" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="image-gallery" id="image-gallery" style="display: none;">
            <!-- Images will be populated here -->
        </div>
    </div>
    <div class="additional-box" id="additional-box" style="display: none;">
        <p id="additional-content">Feito por Marcos Gomes</p>
    </div>

    <div class="modal fade" id="ilhaModal" tabindex="-1" aria-labelledby="ilhaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ilhaModalLabel">Opções sobre a ilha</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="updateIlhaForm">
                        <div class="mb-3">
                            <label for="newIlhaName" class="form-label">Novo Nome da Ilha</label>
                            <input type="text" class="form-control" id="newIlhaName" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Alterar Nome</button>
                        <button type="button" class="btn btn-success" onclick="createIlha()">Criar Nova Ilha</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="deleteIlha()">Deletar Ilha</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="conselhoModal" tabindex="-1" aria-labelledby="conselhoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="conselhoModalLabel">Opções sobre o conselho</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="updateConselhoForm">
                        <div class="mb-3">
                            <label for="newConselhoName" class="form-label">Novo Nome do Conselho</label>
                            <input type="text" class="form-control" id="newConselhoName" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Alterar Nome</button>
                        <button type="button" class="btn btn-success" onclick="createConselho()">Criar Novo Conselho</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="deleteConselho()">Deletar Conselho</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="freguesiaModal" tabindex="-1" aria-labelledby="freguesiaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="freguesiaModalLabel">Opções sobre a freguesia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="updateFreguesiaForm">
                        <div class="mb-3">
                            <label for="newFreguesiaName" class="form-label">Novo Nome da Freguesia</label>
                            <input type="text" class="form-control" id="newFreguesiaName" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Alterar Nome</button>
                        <button type="button" class="btn btn-success" onclick="createFreguesia()">Criar Nova Freguesia</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="deleteFreguesia()">Deletar Freguesia</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="zonaModal" tabindex="-1" aria-labelledby="zonaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="zonaModalLabel">Opções sobre a zona</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="updateZonaForm">
                        <div class="mb-3">
                            <label for="newZonaName" class="form-label">Novo Nome da Zona</label>
                            <input type="text" class="form-control" id="newZonaName" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Alterar Nome</button>
                        <button type="button" class="btn btn-success" onclick="createZona()">Criar Nova Zona</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="deleteZona()">Deletar Zona</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="lugarModal" tabindex="-1" aria-labelledby="lugarModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="lugarModalLabel">Opções sobre o lugar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="updateLugarForm">
                        <div class="mb-3">
                            <label for="newLugarName" class="form-label">Novo Nome do Lugar</label>
                            <input type="text" class="form-control" id="newLugarName" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Alterar Nome</button>
                        <button type="button" class="btn btn-success" onclick="createLugar()">Criar Novo Lugar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="deleteLugar()">Deletar Lugar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/app.js"></script>
{% endblock %}